{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h5 class="display-5">Enuygun.com - Task</h5>
        <p class="lead">
            Egemen Kayalıdere
        </p>
    </div>
    <div class="container">
        <div class="row">
            {% include 'indexPage/includes/tableProvider1.html.twig' %}
        </div>
        <div class="row">
            {% include 'indexPage/includes/tableProvider2.html.twig' %}
        </div>
        <div class="row">
            {% include 'indexPage/includes/tableProvider3.html.twig' %}
        </div>
        <div class="row">
            {% include 'indexPage/includes/tableCompare.html.twig' %}
        </div>
    </div>
{% endblock %}